.khan__buy-link {
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    text-decoration: none;
    opacity: 1;
    transition: opacity linear 0.5s;
}
.khan__buy-link:hover {
    opacity: 0.4;
}